*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'freight-text-pro';
}
a {
  color: #bc955a;
}
a:hover {
  color: #c8a877;
}
p {
  color: #a1a1a1;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  width: 100%;
}
.brief {
  display: none;
  text-transform: uppercase;
  color: #b5b5b5;
  font-size: 18px;
  line-height: 1.3;
  text-align: right;
  font-family: 'freight-sans-pro';
  padding-right: 45px;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
@media (min-width: 600px) {
  .brief {
    width: 220px;
    float: right;
    display: block;
    font-size: 21px;
  }
}
@media (min-width: 900px) {
  .brief {
    font-size: 26px;
  }
}
.brief-description {
  max-width: 100%;
  padding-right: 35px;
}
@media (min-width: 850px) {
  .brief-description {
    max-width: 70%;
  }
}
@media (min-width: 1050px) {
  .brief-description {
    float: left;
    max-width: 50%;
  }
}
.capital-letter {
  color: #212121;
  font-size: 90px;
  font-weight: 600;
  padding: 0 15px 15px;
  float: left;
  line-height: 1;
}
blockquote {
  font-style: italic;
  font-size: 20px;
  position: relative;
}
@media (min-width: 900px) {
  blockquote {
    float: left;
  }
}
@media (min-width: 1050px) {
  blockquote {
    width: 190px;
  }
}
.intro {
  height: 100vh;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  position: relative;
}
.cover::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.cover.pulp-fiction {
  background-image: url('../images/cover-1.jpg');
}
.cover.pulp-fiction .cover-year {
  background-color: #325a9e;
}
.cover.django-unchained {
  background-image: url('../images/cover-2.jpg');
}
.cover.django-unchained .cover-year {
  background-color: #212121;
}
.cover.the-hateful-eight {
  background-image: url('../images/cover-3.jpg');
}
.cover .cover-content {
  font-size: 'freight-text-pro';
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.cover .cover-quote {
  max-width: 392px;
  color: white;
  font-style: italic;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.cover .cover-year {
  letter-spacing: 1px;
  padding: 4px 10px;
  font-weight: 600;
  color: white;
  font-size: 14px;
}
.cover .cover-author {
  font-size: 16px;
  font-weight: 600;
  color: #212121;
}
@media (min-width: 900px) {
  .cover {
    height: 100vh;
  }
}
.block-content {
  padding: 25px;
}
@media (min-width: 600px) {
  .block-content {
    padding: 50px 0;
  }
}
@media (min-width: 900px) {
  .block-content {
    padding: 85px 0;
  }
}
@media (min-width: 600px) {
  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.one-column-text {
  padding: 25px;
  padding-left: 80px;
}
@media (min-width: 600px) {
  .one-column-text {
    max-width: 50%;
    margin-left: 33.33333333%;
    padding: 0;
  }
}
@media (min-width: 900px) {
  .one-column-text {
    padding: 0 0 85px 0;
    max-width: 33.3333333%;
  }
}
.good-ideas {
  display: none;
}
@media (min-width: 900px) {
  .good-ideas {
    width: 33.3333333%;
    display: block;
  }
}
.pics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}
@media (min-width: 600px) {
  .pics {
    margin-bottom: 50px;
  }
}
@media (min-width: 900px) {
  .pics {
    margin-bottom: 85px;
    width: 66.6666666%;
  }
}
.photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 280px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 900px) {
  .photo:hover .caption {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.photo:not(:last-of-type) {
  margin-right: 8px;
}
@media (min-width: 600px) {
  .photo {
    height: 320px;
  }
}
@media (min-width: 950px) {
  .photo {
    height: 380px;
  }
}
.q-1 {
  background-image: url('../images/q-1.jpg');
}
.q-2 {
  background-image: url('../images/q-2.jpg');
}
.q-3 {
  background-image: url('../images/q-3.jpg');
}
.q-4 {
  background-image: url('../images/q-4.jpg');
}
.q-5 {
  background-image: url('../images/q-5.png');
}
.q-6 {
  background-image: url('../images/q-6.jpg');
}
.q-7 {
  background-image: url('../images/q-7.jpg');
}
.q-8 {
  background-image: url('../images/q-8.jpg');
}
.q-9 {
  background-image: url('../images/q-9.jpg');
}
.caption {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: 'freight-sans-pro';
  font-size: 12px;
  margin-bottom: 0;
  padding: 10px 5px 5px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) 50%, transparent 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) 50%, transparent 100%);
}
@media (min-width: 900px) {
  .caption {
    opacity: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }
}
.message {
  font-family: 'freight-sans-pro';
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transform-origin: 20% 180%;
      -ms-transform-origin: 20% 180%;
          transform-origin: 20% 180%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  display: inline-block;
  letter-spacing: 1px;
}
.message.second {
  -webkit-transform-origin: 15% 200%;
      -ms-transform-origin: 15% 200%;
          transform-origin: 15% 200%;
}
.year {
  color: white;
  padding: 3px 8px;
  font-size: 13px;
}
.year.gold {
  background-color: #bc955a;
  margin-right: 45px;
}
@media (min-width: 900px) {
  .year.gold {
    float: right;
  }
}
@media (min-width: 600px) {
  .u-33 {
    width: 33.3333333%;
  }
}
@media (min-width: 600px) {
  .u-66 {
    width: 66.6666666%;
  }
}
.blue {
  color: #325a9e;
}
.blue:hover {
  color: #3c6cbd;
}
.black {
  color: #212121;
}
.black:hover {
  color: #353535;
}
.red {
  color: #ab4736;
}
.red:hover {
  color: #c45845;
}
.one-hand {
  margin-top: 25px;
}
@media (min-width: 600px) {
  .one-hand {
    margin-top: 50px;
  }
}
@media (min-width: 900px) {
  .one-hand {
    margin-top: 85px;
  }
}
