section.cover.intro
  .cover-content
    h1.cover-quote Q. Tarantino
    .cover-quote Violence is one of the most fun things to watch
section.block-content.content
  .u-33
    h2.brief His films are characterized by <a href="#">non-linear storylines</a>
  .u-66
    p.brief-description <strong><span class="capital-letter">Q</span>uentin Jerome Tarantino is an American filmmaker and actor.</strong> His films are characterized by non-linear storylines, satirical subject matter, an aestheticization of violence, utilization of ensemble casts consisting of established and lesser-known performers, references to pop culture, soundtracks primarily containing songs and score pieces from the 1960s to the 1980s, and features of neo-noir film. Tarantino grew up as a <a href="#">devoted film fan and worked at Video Archives</a>, a video rental store, while training to act. His career began in the late 1980s, when he wrote and directed <strong>My Best Friend’s Birthday</strong>, the screenplay of which formed the basis for <strong>True Romance</strong>. In the early 1990s, he began his career as an independent filmmaker with the release of Reservoir Dogs in 1992; regarded as a classic and cult hit. <blockquote> A writer should have this little voice inside of you saying: — “Tell the truth. Reveal a few secrets here”.</blockquote>
section.content
  .good-ideas
    span.message The good ideas <strong>will survive</strong>
    span.year.gold 2003-’04
  .pics
    .photo.q-1
      p.caption Tarantino was born on March 27, 1963
    .photo.q-2
      p.caption He has won two Academy Awards
section
  p.one-column-text <strong>Kill Bill, a highly stylized “revenge flick” in the cinematic traditions of Kung fu films, </strong> Japanese martial arts, Spaguetti Westerns and Italian horror, followed six years later, and was released as two films: <strong><a href="#">Volume 1 in 2003 and Volume 2 in 2004</a></strong>. Tarantino directed Death Proof (2007) as part of a double feature with friend <em>Robert Rodríguez</em>, under the collective title <strong>Grindhouse</strong>. His long-postponed <strong>Inglorious Basterds</strong>, which tells the fictional alternate history story of two plots to assassinate Nazi Germany’s political leadership, was released in 2009 to positive reviews. After that came 2012’s critically acclaimed <strong>Django Unchained</strong>, a Western film set in the antebellum era of the Deep South.
