section.block-content.content
  .u-33
    h2.brief Kill white folks and <a href="#" class="black">they pay you for it</a>
  .u-66
    p.brief-description <strong><span class="capital-letter">D</span>jango Unchained is a 2012 American western film written and directed by Quentin Tarantino</strong>, starring Jamie Foxx, Christoph Waltz, Leonardo DiCaprio, Kerry Washington, and Samuel L. Jackson. Set in the Old West and antebellum South, it is a highly stylized variation of Spaguetti Westerns, and a tribute to the 1966 Italian film <strong><a href="#" class="black">Django by Sergio Corbucci, who star Franco Nero</a></strong> has a cameo appearance. The story is set in the Deep South in the early winter of 1858 and the following spring of 1859, two year before the outbreak of the American Civil War, with preliminary scenes taking place in Old West Texas. The film follows Django (Foxx), a branded black slave, and Dr. King Schultz (Waltz), an English-speaking German bounty hunter posing as a travelling dentist.<blockquote>“I’m curious, what makes you such a mandingo expert? — I’m curious what makes you so curious”.</blockquote>
section
  .cover.django-unchained
    .cover-content
      h1.cover-quote Gentleman, you had my curiosity. But now you have my attention.
      span.cover-year 2012
section
  p.one-column-text.one-hand <strong>Schultz buys and then promises to free Django in exchange for his help in collecting a large bounty on three outlaws</strong>. Schultz subsequently promises to train Django in bounty hunting and split the bounties with him in partnership, if Django assists him in hunting down other outlaws throughout the winter. He further offers to help Django to locate and free his long-lost wife Broomhilda (Washington) from her cruel plantation owner Calvin Candie (DiCaprio).
section.content
  .good-ideas
    span.message Django, <strong>The D is silent</strong>
  .pics
    .photo.q-5
      p.caption Samuel L. Jackson as Stephen on Django Unchained
    .photo.q-6
      p.caption Leonardo DiCaprio and Samuel L. Jackson
section
  p.one-column-text The film was a major critical and commercial success and was nominated for several film industry awards, including five Academy Awards, <strong><a href="#" class="black">Waltz won several awards for his performance, among them Best Supporting Actor at Golden Globes, BAFTAs</a></strong>, and Academy Awards. Tarantino won an Academy Award, a Golden Globe, and a BAFTA award for writing the film’s original screenplay. The film grossed over $425 million worldwide in theaters against its $100 million budget, making it Tarantino’s highest-grossing theatrical release.
hr
