doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Quentin Tarantino | American filmmaker
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/skeleton.css")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="icon", type="image/png", href="assets/images/favicon")
    script(src="https://use.typekit.net/xga4asa.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
  body
    include ./biography.jade
    include ./pulp-fiction.jade
    include ./django-unchained.jade
    include ./the-hateful-eight.jade

