section
  .cover.pulp-fiction
    .cover-content
      h1.cover-quote You will not know the facts until you have seen the fiction.
      span.cover-year 1994
section.block-content.content
  .u-33
    h2.brief <a href="#" class="blue">Pulp Fiction</a> is a American Black Comedy Crime Film
  .u-66
    p.brief-description <strong><span class="capital-letter">S</span>econd feature film, it is iconic for its eclectic dialogue, ironic mix of humor and violence,</strong> nonlinear storyline and a host of cinematic allusions and pop culture references. The film was nominated for sever Oscars, including Best Picture; <strong><a href="#" class="blue">Tarantino and Avary won for Best Original Screenplay</a></strong>. It was also awarded the Palme d’Or at the 1994 Cannes Film Festival. A major critical and commercial success, it revitalized the career of its leading man, John Travolta, who received and Academy Award nomination, as did co–stars Samuel L. Jackson and Uma Thurman.<blockquote>“Just because you are a character doesn’t mean that you have character”.</blockquote>
section.content
  .pics
    .photo.q-3
      p.caption Maria de Medeiros on the set of Pulp Fiction, 1994
    .photo.q-4
      p.caption Bruce Willis and Quentin Tarantino, Pulp Fiction
  .good-ideas
    span.message.second <strong>The cornerstone</strong> of any nutritious break
section
  p.one-column-text Directed in a highly stylized manner, <strong>Pulp Fiction</strong> connects the intersecting storylines of Los Angeles mobsters, fringe players, small-time criminals, and a mysterious briefcase. Considerable screen time is devoted to monologues and casual conversations that reveal the characters’ senses of humor and perspectives on life.
hr
