section.block-content.content
  .u-33
    h2.brief Western Mystery film <a href="#" class="red">The Hateful eight</a>
  .u-66
    p.brief-description <strong><span class="capital-letter">T</span>he Hateful Eight is a 2015 American Western mystery film written and directed by Quentin Tarantino</strong>.It stars Samuel L. Jackson, Kurt Russell, Jennifer Jason Leigh, Walton Goggins, Demián Bichir, Tim Roth, Michael Madsen, and Bruce Dern as eight strangers who seek refuge from a blizzard in a stagecoach stopover some time after American Civil War.<blockquote>“No one to trust. Everyone to hate”.</blockquote>
section
  .cover.the-hateful-eight
    .cover-content
      h1.cover-quote When I elbow you real hard in the face, that means: Shut Up!
section
  p.one-column-text.one-hand Tarantino announced the film in November 2013, stating it had originally started as a novel and sequel to Django Unchained. <strong><a href="#" class="red">After the script leaked in January 2014, he cancelled the film, but announced that he had changed</a></strong> his mind after directing a live reading of the script at the United Artists Theater in Los Angeles. Filming began on December 8, 2014, near Telluride, Colorado. The score, composed by Ennio Morricone, was his first complete Western score in 35.
section.content
  .photo.q-7
    p.caption Demián Bichir portrays Bob, the mysterious caretaker
  .photo.q-8
    p.caption —Let's slow it down. Let's slow it waaaaaay down
  .photo.q-9
    p.caption When I look at my right, I think of Kurt Russell
section
  p.one-column-text.one-hand Distributed by the Weinstein Company in the United States, <strong>The Hateful Eight</strong> was released on December 25, 2015. <strong><a href="#" class="red">In a roadshow release in 70mm film and had a wide digital release on December 30, 2015. It generally received positive reviews from critics</a></strong>. Some critics expressed unease at the abusive treatment of the Daisy Domergue character. For his work on the score, Morricone won the Golden Globe and the Academy Awars for best Original Score.
